<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcfad.oxylyzer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mcfad.oxylyzer.MainActivity"
            android:label="Oxylyzer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mcfad.oxylyzer.diagnosis.ProfileActivity"
            android:label="Profile" >
        </activity>
        <activity
            android:name="com.mcfad.oxylyzer.diagnosis.Report"
            android:label="Report" >
        </activity>
        <activity
            android:name="com.mcfad.oxylyzer.PreferencesActivity"
            android:label="Preferences" >
        </activity>
        <activity
            android:name="com.mcfad.oxylyzer.diagnosis.Questionnaire1STOPBANG"
            android:label="STOP-BANG Questionnaire" >
        </activity>
        <activity
            android:name="com.mcfad.oxylyzer.diagnosis.Questionnaire2Epworth"
            android:label="Epworth Sleepiness Scale" >
        </activity>
        <activity
            android:name="com.mcfad.oxylyzer.diagnosis.Questionnaire4SnoreScore"
            android:label="Snore Score" >
        </activity>
        <activity
            android:name="com.mcfad.oxylyzer.diagnosis.Questionnaire3Berlin"
            android:label="Berlin Questionnaire" >
        </activity>
        <service
            android:name="com.mcfad.oxylyzer.OximeterService"
            android:enabled="true" >
        </service>
        <provider
            android:name="com.mcfad.oxylyzer.db.OxContentProvider"
            android:authorities="com.mcfad.oxylyzer.db" >
        </provider>
    </application>
</manifest>